<div class="container">
  <h2 class="h2">Lista Dzieci</h2>
  <!-- Div using .table-responsive class-->
  <div class="table-responsive">
    <!--Bootstrap Table using .table class-->
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Numer</th>
          <th>Imię</th>
          <th>Prezent</th>
        </tr>
      <tbody>
        {{#each allChildren}}
          <form class="form-check" action="/child/gift/{{this.id}}?_method=PATCH" method="POST">
            <tr>
              <td>{{this.number}}</td>
              <td>{{this.name}}</td>
              <td><select class="form-select form-select-sm" name="giftId">
                <option value="">Brak</option>
                {{#each ../allGifts}}
                  <option value="{{this.id}}"
                  {{#if (equals this.id ../this.giftId)}}selected="selected"
                          class="active"{{/if}}>{{this.name}}</option>
                {{/each}}
              </select>
              </td>
              <td>
                <button class="btn btn-sm btn-secondary">Zapisz</button>
              </td>
            </tr>
          </form>
        {{/each}}
      </tbody>
      </thead>
    </table>
  </div>
</div>

<h2 class="p-2">Dodaj Dziecko</h2>
<div class="input-container m-4 d-flex justify-content-around p-2">
  <form action="/child" method="POST">
    <label>
      Imię: <input name="name" type="text" placeholder="grzeczne dziecko...">
    </label>
    <button class="btn btn-sm btn-primary">Dodaj</button>
  </form>
</div>